.about-me-container {
  top: -1200%;
  font-weight: 400;
  letter-spacing: .025em;
  font-smoothing: never;
  background-color: #c6c6c6;
  border-top: 2px solid #efefef;
  border-left: 2px solid #efefef;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  height: auto; 
  width: 40%;
  position: relative;
  margin-left: 300px;
  margin-bottom: 100px;
}

.about-me-content .page1 p {
  padding: 8px;
  height: auto;
  width: calc(60% - 20px);
  background-color: #c6c6c6;
  display: inline-block;
  color: black;
  margin-top: 20px;   
}

.about-me-content .page2 p {
  padding: 2px;
  height: auto;
  width: calc(80% - 30px);
  background-color: #c6c6c6;
  display: inline-block;
  color: black;
}

.about-me-content .page3 p {
  padding: 8px;
  height: auto;
  width: calc(60% - 20px);
  background-color: #c6c6c6;
  display: inline-block;
  color: black;
}


.title-bar {
  height: 20px;
  position: relative;
  text-align: left;
  color: #fff;
  padding: 1px;
  line-height: 1.4;
  border-top: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 2px solid silver;
  border-bottom: 1px solid silver;
  background: navy;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar-controls button {
  display: inline-block;
  -moz-appearance: none;
  appearance: none;
  font-weight: 700;
  letter-spacing: .05em;
  padding: 0px;
  border-left: 2px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;
}

.title-bar-controls button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.title-bar-text {
  max-width: calc(100% - 40px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn {
    background: #c6c6c6;
    box-shadow: #dfdfdf 1px 1px inset, #000 1px 0, #000 0 1px, #000 1px 1px;
    border: 1px solid black;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-radius: 0;
    padding: 5px;
    margin-bottom: 8px;
    margin-left: 5px;
}

.Aboutmegradpic {
  width: 38%; /* Set the width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px;
}

.draggable {
  top: auto !important;
  left: auto !important;
}

