.start-menu {
  position: absolute !important;
  left: 2px;
  bottom: 25px;
  width: calc(186px + 21px);
  height: 340px;
  max-height: calc(100vh - 26px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.start-menu-titlebar {
  flex: 0 0 auto;
  width: 21px;
}

.start-menu-content {
  overflow: auto;
  padding: 15px;
}

/* Add the rest of your styling rules for the start menu */
